In [2]:
import pandas as pd

### Chemical taxonomy

In [2]:
chem=pd.read_csv('parsed/chemical-taxonomy.txt', delimiter = "\t",header=None,names=['ID','Class','Chem'])
chem.head()

        ID          Class                                  Chem
0  DB00001        Kingdom                     Organic Compounds
1  DB00001     Superclass                         Organic Acids
2  DB00001          Class      Carboxylic Acids and Derivatives
3  DB00001       Subclass  Amino Acids, Peptides, and Analogues
4  DB00001  Direct parent                              Peptides

In [3]:
chem['Chem'].value_counts()

Organic compounds                      9419
Organoheterocyclic compounds           2846
Benzenoids                             2185
Benzene and substituted derivatives    1758
Organic acids and derivatives          1646
                                       ...
Thiazinanes                               1
O-fluorophenols                           1
3-prenylated chalcones                    1
O-chlorophenols                           1
Amaryllidaceae alkaloids                  1
Name: Chem, Length: 1503, dtype: int64

### Drug categories

In [4]:
drugcat=pd.read_csv('parsed/drug-categories.txt', delimiter = "\t",header=None,names=['ID','Drugcat'])
drugcat.head()

        ID                              Drugcat
0  DB00001  Amino Acids, Peptides, and Proteins
1  DB00001                       Anticoagulants
2  DB00001                Antithrombin Proteins
3  DB00001                        Antithrombins
4  DB00001       Blood and Blood Forming Organs

In [5]:
drugcat['Drugcat'].value_counts()

Heterocyclic Compounds, Fused-Ring        1619
Amino Acids, Peptides, and Proteins       1174
Cytochrome P-450 Substrates               1081
Sulfur Compounds                           850
Cytochrome P-450 CYP3A Substrates          824
                                          ...
Diabetes Mellitus                            1
Decarboxylase Inhibitors                     1
Antigen Neutralization                       1
Gallbladder Function                         1
Transthyretin-directed RNA Interaction       1
Name: Drugcat, Length: 4149, dtype: int64

In [6]:
drugcat.dropna(axis=0,how='any', inplace=True)

In [7]:
len(pd.unique(drugcat['ID']))

8467

In [8]:
drugcat.shape[0]

89740

In [9]:
drugcat[drugcat.duplicated('ID')].head()

        ID                         Drugcat
1  DB00001                  Anticoagulants
2  DB00001           Antithrombin Proteins
3  DB00001                   Antithrombins
4  DB00001  Blood and Blood Forming Organs
5  DB00001           Cardiovascular Agents

In [91]:
drugcat.to_csv('csv/drugcat.csv',index=False)

### State

In [10]:
state = pd.read_csv('parsed/state.txt', delimiter = "\t",header=None,names=['ID','State'])
state.head()

        ID   State
0  DB00001  liquid
1  DB00002  liquid
2  DB00003  liquid
3  DB00004  liquid
4  DB00005  liquid

In [11]:
state['State'].value_counts()

solid     8671
liquid     356
gas          9
Name: State, dtype: int64

In [12]:
n = len(pd.unique(state['ID']))

In [13]:
n

9036

In [92]:
state.to_csv('csv/state.csv',index=False)

### Half-life

In [14]:
Hl=pd.read_csv('parsed/half-life.txt', delimiter = "\t",header=None,names=['ID','Half-life'])
Hl.head()

        ID                                          Half-life
0  DB00001                            Approximately 1.3 hours
1  DB00002  The mean half-life for Cetuximab is 114 hours ...
2  DB00004                                          70-80 min
3  DB00005  Etanercept has a mean half-life of elimination...
4  DB00006  * Normal renal function: 25 min (in normal con...

In [15]:
#Hl['Half-life'].value_counts()
#len(pd.unique(Hl['ID']))
Hl.shape[0]

2343

In [16]:
Hl.dropna(axis=0,how='any', inplace=True)

In [17]:
print(Hl.shape[0])
print(len(pd.unique(Hl['ID'])))

2220
2220

In [93]:
Hl.to_csv('csv/Hl.csv',index=False)

### Pathway

In [18]:
pathway=pd.read_csv('parsed/pathways.txt', delimiter = "\t",header=None,names=['ID','Pathway'])
pathway.head()

        ID                                 Pathway
0  DB00001    Lepirudin Action Pathway|drug_action
1  DB00002    Cetuximab Action Pathway|drug_action
2  DB00006  Bivalirudin Action Pathway|drug_action
3  DB00009    Alteplase Action Pathway|drug_action
4  DB00013    Urokinase Action Pathway|drug_action

In [19]:
pathway.shape[0]

3780

In [20]:
pathway.dropna(axis=0,how='any', inplace=True)

In [21]:
len(pd.unique(pathway['ID']))

645

In [22]:
pathway[pathway.duplicated('ID')].head()

         ID                                  Pathway
14  DB00114        Argininosuccinic Aciduria|disease
15  DB00114  Glycine and Serine Metabolism|metabolic
16  DB00114            Tyrosine Metabolism|metabolic
17  DB00114              Ammonia Recycling|metabolic
18  DB00114     Catecholamine Biosynthesis|metabolic

In [94]:
pathway.to_csv('csv/pathway.csv',index=False)

### Group

In [23]:
group=pd.read_csv('parsed/groups.txt', delimiter = "\t",header=None,names=['ID','Group'])
group.head()

        ID            Group
0  DB00001         approved
1  DB00002         approved
2  DB00003         approved
3  DB00004         approved
4  DB00004  investigational

In [24]:
group.dropna(axis=0,how='any', inplace=True)

In [25]:
group.shape[0]

16931

In [26]:
len(pd.unique(group['ID']))

14315

In [27]:
group['Group'].value_counts()

experimental       6554
investigational    5245
approved           4108
vet_approved        423
withdrawn           265
illicit             205
nutraceutical       131
Name: Group, dtype: int64

In [95]:
group.to_csv('csv/group.csv',index=False)

### Atc-code

In [3]:
atc=pd.read_csv('parsed/atc-codes.txt', delimiter = "\t",header=None,names=['ID','Atc'])
atc.head()

        ID                                                Atc
0  DB00001  Direct thrombin inhibitors|ANTITHROMBOTIC AGEN...
1  DB00002  Monoclonal antibodies|OTHER ANTINEOPLASTIC AGE...
2  DB00003  Mucolytics|EXPECTORANTS, EXCL. COMBINATIONS WI...
3  DB00004  Other antineoplastic agents|OTHER ANTINEOPLAST...
4  DB00005  Tumor necrosis factor alpha (TNF-α) inhibitors...

In [4]:
print(atc['Atc'][0])

Direct thrombin inhibitors|ANTITHROMBOTIC AGENTS|ANTITHROMBOTIC AGENTS|BLOOD AND BLOOD FORMING ORGANS

In [5]:
atc.dropna(axis=0,how='any', inplace=True)

In [6]:
len(pd.unique(atc['ID']))

3150

In [7]:
atc.shape[0]

4976

In [8]:
#need to remove duplicates
atc=atc.drop_duplicates()

In [9]:
print(atc.shape[0])
print(len(pd.unique(atc['ID'])))

4355
3150

In [10]:
atc[atc.duplicated('ID')]

           ID                                                Atc
11    DB00009  Other ophthalmologicals|OTHER OPHTHALMOLOGICAL...
13    DB00010  Somatropin and somatropin agonists|ANTERIOR PI...
32    DB00030  Insulins and analogues for injection, long-act...
33    DB00030  Insulins and analogues for injection, fast-act...
34    DB00030  Insulins and analogues for injection, intermed...
...       ...                                                ...
4951  DB14681  Corticosteroids, plain|ANTIINFLAMMATORY AGENTS...
4959  DB00781  Antiinfectives|ANTIINFECTIVES|OPHTHALMOLOGICAL...
4960  DB00781  Polymyxins|OTHER ANTIBACTERIALS|ANTIBACTERIALS...
4961  DB00781  Antibiotics|INTESTINAL ANTIINFECTIVES|ANTIDIAR...
4962  DB00781  Antibiotics|ANTIINFECTIVES|OPHTHALMOLOGICALS|S...

[1205 rows x 2 columns]

In [11]:
print(atc['Atc'][11])
print(atc['Atc'][12])

Other ophthalmologicals|OTHER OPHTHALMOLOGICALS|OPHTHALMOLOGICALS|SENSORY ORGANS
Tests for pituitary function|OTHER DIAGNOSTIC AGENTS|DIAGNOSTIC AGENTS|VARIOUS

In [12]:
atc[["Level1", "Level2", "Level3","Level4"]] = atc["Atc"].str.split(pat="|", expand=True)

In [13]:
atc.head()

,ID,Atc,Level1,Level2,Level3,Level4
0,DB00001,Direct thrombin inhibitors|ANTITHROMBOTIC AGEN...,Direct thrombin inhibitors,ANTITHROMBOTIC AGENTS,ANTITHROMBOTIC AGENTS,BLOOD AND BLOOD FORMING ORGANS
1,DB00002,Monoclonal antibodies|OTHER ANTINEOPLASTIC AGE...,Monoclonal antibodies,OTHER ANTINEOPLASTIC AGENTS,ANTINEOPLASTIC AGENTS,ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS
2,DB00003,"Mucolytics|EXPECTORANTS, EXCL. COMBINATIONS WI...",Mucolytics,"EXPECTORANTS, EXCL. COMBINATIONS WITH COUGH SU...",COUGH AND COLD PREPARATIONS,RESPIRATORY SYSTEM
3,DB00004,Other antineoplastic agents|OTHER ANTINEOPLAST...,Other antineoplastic agents,OTHER ANTINEOPLASTIC AGENTS,ANTINEOPLASTIC AGENTS,ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS
4,DB00005,Tumor necrosis factor alpha (TNF-α) inhibitors...,Tumor necrosis factor alpha (TNF-α) inhibitors,IMMUNOSUPPRESSANTS,IMMUNOSUPPRESSANTS,ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS

In [14]:
atc.to_csv('csv/atc.csv',index=False)

### Description

In [37]:
description=pd.read_csv('parsed/description.txt', delimiter = "\t",header=None,names=['ID','Description'])
description.head()

        ID                                        Description
0  DB00001  Lepirudin is identical to natural hirudin exce...
1  DB00002  Cetuximab is an epidermal growth factor recept...
2  DB00003  Dornase alfa is a biosynthetic form of human d...
3  DB00004  A recombinant DNA-derived cytotoxic protein co...
4  DB00005  Dimeric fusion protein consisting of the extra...

In [38]:
description.dropna(axis=0,how='any', inplace=True)

In [39]:
print(description.shape[0])
print(len(pd.unique(description['ID'])))

8399
8399

In [40]:
print(description['Description'][11])

Human tissue plasminogen activator, purified, glycosylated, 527 residues purified from CHO cells

In [97]:
description.to_csv('csv/description.csv',index=False)

### Volumn of distribution

In [41]:
vod=pd.read_csv('parsed/volume-of-distribution.txt', delimiter = "\t",header=None,names=['ID','VOD'])
vod.head()

        ID                                                VOD
0  DB00001   12.2 L [Healthy young subjects (n = 18, age 1...
1  DB00001   18.7 L [Healthy elderly subjects (n = 10, age...
2  DB00001   18 L [Renally impaired patients (n = 16, crea...
3  DB00001                     32.1 L [HIT patients (n = 73)]
4  DB00002  appeared to be independent of dose and approxi...

In [42]:
print(vod.shape[0])
print(len(pd.unique(vod['ID'])))

1671
1602

In [43]:
vod.dropna(axis=0,how='any', inplace=True)

In [44]:
print(vod.shape[0])
print(len(pd.unique(vod['ID'])))

1569
1502

In [45]:
print(vod['VOD'][0])
print(vod['VOD'][1])
print(vod['VOD'][2])

 12.2 L [Healthy young subjects (n = 18, age 18-60 years)]
 18.7 L [Healthy elderly subjects (n = 10, age 65-80 years)]
 18 L [Renally impaired patients (n = 16, creatinine clearance below 80 mL/min)]

In [98]:
vod.to_csv('csv/vod.csv',index=False)

### Protein Binding

In [46]:
pb=pd.read_csv('parsed/protein-binding.txt', delimiter = "\t",header=None,names=['ID','pb'])
pb.head()

        ID                                                 pb
0  DB00005  No significant protein binding has been identi...
1  DB00006  Other than thrombin and red blood cells, bival...
2  DB00007  Leuprolide displays _in vitro_ binding to huma...
3  DB00013  Data regarding the protein binding of urokinas...
4  DB00014                                              27.3%

In [47]:
print(pb.shape[0])
print(len(pd.unique(pb['ID'])))

1790
1789

In [48]:
pb[pb.duplicated('ID')]

                                        ID   pb
1689  Bound to beta-lipoproteins in blood.  NaN

In [49]:
pb=pb.drop_duplicates()

In [50]:
pb.dropna(axis=0,how='any', inplace=True)

In [51]:
print(pb.shape[0])
print(len(pd.unique(pb['ID'])))

1765
1765

In [52]:
print(pb['pb'][1])
print(pb['pb'][10])

Other than thrombin and red blood cells, bivalirudin does not bind to plasma proteins.
Monoclonal antibodies are usually not required to have protein binding studies.

In [99]:
pb.to_csv('csv/pb.csv',index=False)

### Pharmacodynamics

In [53]:
pharm=pd.read_csv('parsed/pharmacodynamics.txt', delimiter = "\t",header=None,names=['ID','Pharm'])
pharm.head()

        ID                                              Pharm
0  DB00001  Lepirudin is used to break up clots and to red...
1  DB00002  Used in the treatment of colorectal cancer, ce...
2  DB00003  Cystic fibrosis (CF) is a disease characterize...
3  DB00004  Denileukin diftitox (Ontak) directs the cytoci...
4  DB00005  Etanercept binds specifically to tumor necrosi...

In [54]:
pharm[pharm.duplicated('ID')].head()

                                 ID Pharm
395     **Impaired Renal Function**   NaN
475   **Effects on blood pressure**   NaN
670               **Other effects**   NaN
1050            **General effects**   NaN
1320   **Gastrointestinal Effects**   NaN

In [55]:
print(pharm['Pharm'][10])

Peginterferon alfa-2a induces the body's innate antiviral response [FDA Label].

In [56]:
print(pharm.shape[0])
print(len(pd.unique(pharm['ID'])))

3925
3897

In [57]:
pharm=pharm.drop_duplicates()

In [58]:
pharm.dropna(axis=0,how='any', inplace=True)

In [59]:
print(pharm.shape[0])
print(len(pd.unique(pharm['ID'])))

2886
2886

In [100]:
pharm.to_csv('csv/pharm.csv',index=False)

### Mechanism of Action

In [60]:
moa=pd.read_csv('parsed/mechanism-of-action.txt', delimiter = "\t",header=None,names=['ID','MOA'])
moa.head()

        ID                                                MOA
0  DB00001  Lepirudin forms a stable non-covalent complex ...
1  DB00002  Cetuximab binds to the epidermal growth factor...
2  DB00003  Dornase alfa is a biosynthetic form of human D...
3  DB00004  Denileukin diftitox binds to the high-affinity...
4  DB00005  There are two distinct receptors for TNF (TNFR...

In [61]:
print(moa['MOA'][3])

Denileukin diftitox binds to the high-affinity IL-2 receptor complex. The IL-2 receptor (Tac) subunit is expressed on activated but not resting lymphocytes. The diphtheria toxin associated with Ontak then selectively kills the IL-2 bearing cells.

In [62]:
print(moa.shape[0])
print(len(pd.unique(moa['ID'])))

5113
5051

In [63]:
moa=moa.drop_duplicates()

In [64]:
moa.dropna(axis=0,how='any', inplace=True)

In [65]:
print(moa.shape[0])
print(len(pd.unique(moa['ID'])))

3706
3706

In [101]:
moa.to_csv('csv/moa.csv',index=False)

### Indication

In [66]:
indication=pd.read_csv('parsed/indication.txt', delimiter = "\t",header=None,names=['ID','Indication'])
indication.head()

        ID                                         Indication
0  DB00001  For the treatment of heparin-induced thrombocy...
1  DB00002  Cetuximab, used in combination with irinotecan...
2  DB00003  Used as adjunct therapy in the treatment of cy...
3  DB00004         For treatment of cutaneous T-cell lymphoma
4  DB00005  Etanercept is indicated for the treatment of m...

In [67]:
print(indication['Indication'][3])
print(indication['Indication'][1])

For treatment of cutaneous T-cell lymphoma
Cetuximab, used in combination with irinotecan, is indicated for the treatment of EGFR-expressing, metastatic colorectal carcinoma in patients who are refractory to irinotecan-based chemotherapy. Cetuximab administered as a single agent is indicated for the treatment of EGFR-expressing, metastatic colorectal carcinoma in patients who are intolerant to irinotecan-based chemotherapy.

In [68]:
print(indication.shape[0])
print(len(pd.unique(indication['ID'])))

5035
5017

In [69]:
indication=indication.drop_duplicates()

In [70]:
indication.dropna(axis=0,how='any', inplace=True)

In [71]:
print(indication.shape[0])
print(len(pd.unique(indication['ID'])))

4021
4021

In [72]:
indication.head()

        ID                                         Indication
0  DB00001  For the treatment of heparin-induced thrombocy...
1  DB00002  Cetuximab, used in combination with irinotecan...
2  DB00003  Used as adjunct therapy in the treatment of cy...
3  DB00004         For treatment of cutaneous T-cell lymphoma
4  DB00005  Etanercept is indicated for the treatment of m...

In [102]:
indication.to_csv('csv/indication.csv',index=False)